.footer {
  background-color: #2f303a;
  padding-top: 60px;
}
.footer-logo-web {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  font-weight: bold;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.footer-logo-studio {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  font-weight: bold;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-logo {
  padding-bottom: 20px;
}
.list__footer-list {
  margin-top: 20px;
  padding-bottom: 60px;
}
.footer-address {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.container__footer-logo {
  margin-right: 70px;
}

.logo-item {
  margin-bottom: 20px;
}
.list__address-item + .list__address-item {
  margin-top: 9px;
}
.list__address-item .street {
  color: #ffffff;
}
.footer-contacts {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  &:hover,
  &:focus {
    color: var(--blue-color);
  }
}

.list__connect-item:not(:first-child) {
  margin-left: 10px;
}

.connect-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #2196f3;
  }
  &:hover .connect-icon,
  &:focus .connect-icon {
    fill: #ffffff;
  }
}

.list__connect-list {
  display: flex;
  justify-content: center;
}

.container__connect {
  align-items: center;
}

.text-connect {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 10px;

  color: #ffffff;
}

.connect-icon {
  fill: #ffffff;
}

.subscribe {
  display: inline-block;
  padding-top: 10px;
  margin-bottom: 20px;

  font-weight: 900;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe__container {
  margin-left: 107px;
}

.subscribe-form {
  display: flex;
}

.subscribe-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  color: #ffffff;
  background-color: #2f303a;
  &::placeholder {
    line-height: calc(20 / 16);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.subscribe-button {
  display: flex;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  padding-left: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 12px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 900;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  transform: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #ffffff;
    background-color: #188ce8;
  }
}
.subscribe-icon {
  margin-left: 10px;
}
